.about-me {
  padding: 40px 0 20px;

  @media screen and (min-width: 768px) {
    padding: 60px 0 30px;
  }

  @media screen and (min-width: 1140px) {
    padding: 120px 0 60px;
  }
}

.about-wrapper {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: minmax(250px, auto) minmax(250px, auto);
  grid-auto-rows: minmax(250px, auto);
  row-gap: 20px;


  @media screen and (min-width: 768px) {
    grid-template-columns: 300px auto;
    gap: 30px;
  }

  @media screen and (min-width: 1140px) {
    grid-template-columns: 400px 570px;
    gap: 40px 70px;    
  }
}

.about-photo {
  justify-self: center;
  object-fit: cover;

  @media screen and (max-width: 479px) {
    height: 340px;    
  }

  @media screen and (min-width: 768px) {
    grid-row: 1 / 3;
    height: 100%;
  }
}

.about-text {
  margin-top: 20px;
}

// SKILLS LIST
.about-skills {
  display: grid;
  grid-template: repeat(3, 1fr)/fr;
  grid-auto-rows: 1fr;
  row-gap: 20px;

  @media screen and (min-width: 768px) {
    grid-template: repeat(3, 1fr)/1fr;
  }

  @media screen and (min-width: 1140px) {
    grid-template: repeat(2, 1fr) / repeat(2, 1fr);
    column-gap: 50px;
  }
}

.about-skill {
  display: grid;
  grid-template-columns: 40px auto;
  column-gap: 20px;

  @media screen and (min-width: 1140px) {
    grid-template-columns: 40px 200px;
  }
}

.about-thumb {
  position: relative;
  padding-top: 15px;
  padding-left: 15px;

  @include circle(0, 0);
}

.about-skill-title {
  margin-bottom: 6px;
  font-weight: 700;
}

.about-skill-text {
  font-size: 12px;
}